body {
  /*padding: 10px;*/
  height: 100vh;
  /*width: 100vw;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1, h2 {
  width: 100%;
  text-align: center;
}

form * {
  display: block;
  width: 300px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

label {
  display: block;
}

button {
  background-color: #2585D1;
  color: white;
  line-height:30px;
  height: 30px;
  padding: 0px;
}

a * {
  text-decoration: none;
}

.flex-container {
  padding-left: 50px;
  padding-right: 50px;
  margin: 0 auto;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-1-2 {
  padding: 5px;
  width: 40%;
}

.flex-1-3 {
  padding: 5px;
  width: 30%;
}

.flex-2-3 {
  padding: 5px;
  width: 60%;
}

.movie-item {
  margin: 10px;
  border: solid 3px black;
  color: #2585D1;
}

.movie-image-side {
  display: inline-block;
}

.movie-description-side {
  display: inline-block;
}

.movie-full {
  border: solid 1px black;
}

.text-center {
  text-align: center;
}

.ng-invalid.ng-dirty{
   border-color: #FA787E ;
}

.ng-valid.ng-dirty{
   border-color: #78FA89 ;
}
