<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="https://code.angularjs.org/snapshot/angular-csp.css">
  <link rel="stylesheet" href="css/main.css">
  <title>Angular OMDb API Search</title>
  <base href="/">
</head>
<body ng-controller="MainController" ng-cloak>

  <h1>{{title}}</h1>

  <form id="searchForm">
    <label for="id=searchTitle">Enter a movie by title.</label>
    <input type="text" id="searchTitle" required ng-model="searchTitle">
    <button type="submit" ng-click="searchMovie(this)" ng-disabled="searchForm.$invalid">Search!</button>
  </form>

  <div ng-view>
    <section class = "flex-container" href="/"+{{movie.imdbID}}+"/show">
      <section class = "flex-item movie-item" ng-click = "imdbID" ng-repeat="movie in movies">
        <h5>{{movie.Title}}</h5>
        <h5>{{movie.Year}}</h5>
      </section>
    </section>


  <!-- <ul class="nav nav-pills">
    <li role="presentation" class="active"><a href="/#/">Home</a></li>
    <li role="presentation"><a href="/#/hello">Hello</a></li>
    <li role="presentation"><a href="/#/goodbye">Goodbye</a></li>
  </ul> -->
  <!-- <h1>{{zenData}}</h1> -->
  <!-- <div ng-repeat = "title in itunesData"> -->
    <!-- <h5>{{title}}</h5> -->
    <!-- <h5>{{title.trackName}}</h5> -->
  <!-- </div> -->
  </div>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/animate.css/3.4.0/animate.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
  <!-- <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-route.js"></script> -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-route.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-animate.js"></script>

  <script src = "js/app.js"></script>
  <script src = "js/controllers/main_controller.js"></script>
  <script src = "js/controllers/show_controller.js"></script>
  <!-- <script src = "js/controllers/hello_controller.js"></script>
  <script src = "js/controllers/goodbye_controller.js"></script> -->
</body>
</html>
